<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.zlong.alfred.ccgenerator</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>DD9BF46E-08C2-47CE-A3B1-495310236C05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08A5B883-C595-432C-9F52-663E63BE51A9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2A59D098-119F-4FFC-97E6-BE4D683296B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>061BD29C-5C11-462A-81E1-6E68D962E6F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zhanglong</string>
	<key>description</key>
	<string>Credit Card num generator</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ccgenerator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>08A5B883-C595-432C-9F52-663E63BE51A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ccg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>python workflow/ccgenerate.py "{query}"</string>
				<key>title</key>
				<string>Generate credit cardNo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DD9BF46E-08C2-47CE-A3B1-495310236C05</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2A59D098-119F-4FFC-97E6-BE4D683296B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>copy {query} to clipboard</string>
				<key>title</key>
				<string>Copy credit card</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>061BD29C-5C11-462A-81E1-6E68D962E6F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>参考：https://github.com/nate-parrott/Flashlight/blob/master/PluginDirectories/1/ccgenerator.bundle/plugin.py</string>
	<key>uidata</key>
	<dict>
		<key>061BD29C-5C11-462A-81E1-6E68D962E6F6</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>08A5B883-C595-432C-9F52-663E63BE51A9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2A59D098-119F-4FFC-97E6-BE4D683296B2</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>DD9BF46E-08C2-47CE-A3B1-495310236C05</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
